<h1>Handling Missing Values</h1>

<p>This demo will cover these topics:</p>

<ul>
    <li>Deleting missing values</li>
    <li>Replacing missing value</li>
</ul>

<strong>First install pandas: </strong>

In [3]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 11.9 MB/s eta 0:00:0000:0100:01
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 347.8/347.8 KB 18.4 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Collecting numpy>=1.22.4
  Downloading numpy-2.2.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.8/16.8 MB 11.5 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/psireal/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.6 pandas-2.3.3 tzdata-2025.2

<strong>Next import pandas to notebook:</strong>

In [2]:
import pandas as pd

Let us now look at the dataset for this task. The dataset is about predicting whether a female has diabetes or not based on parameters such as Glucose and Insulin levels.

<strong>Read the dataset in Pandas dataframe named as df1:</strong>

In [3]:
df1 = pd.read_csv('csv-files/diabetes.csv')

<strong>Use .head() to see the first few rows of the dataset:</strong>

In [4]:
df1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

<strong>Use .info() to know more details about the data such as number of rows and columns:</strong>

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

As we can see, there are 9 columns and 768 rows. There appears to be no null values in the data, but let's dive more deeply in the dataset.

<strong>Use .describe() to check if there really is no null value in the dataset:</strong> <br>
<em>Remember: Null values needs to be represented as NaN or None, not 0 or -</em>

In [6]:
df1.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

<p>Looking at the minimum value for each column, we can observe that:
    <ul>
        <li>Glucose</li>
        <li>BloodPressure</li>
        <li>SkinThickness</li>
        <li>Insulin</li>
        <li>BMI</li>
    </ul>
    have 0 minimum values, which does not make sense because these parameters cannot be 0 for any person. This suggests that the missing values are represented by 0.</p>

<strong>Use .sum() to find how many 0 values are in each of these columns:</strong> <br>
<em>First create a variable to store the identified columns.<em>

In [7]:
data_cols = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

In [11]:
(df1[data_cols] == 0).sum() #df1[data_cols] == 0 means only find rows with 0 values in each column

Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

The count of 0 values have been listed above. These numbers confirmed that 0 are indeed representing missing values. Now, try to find the count of null values in each column.

<strong>Use .isnull().sum() to find the count of null values:</strong>

In [12]:
df1.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

It shows 0 null values for every column. This happens because null values are not represented by the standard representation of 'NaN'or 'None'. Since null values are represented by 0, pandas is not able to identify any null values in the dataset. For this to work, replace these 0 values with 'NaN'.

<strong>First import nan from numpy:</strong>

In [13]:
from numpy import nan

<strong>Use .replace() to replace 0 with NaN:</strong>

In [16]:
df1[data_cols] = df1[data_cols].replace(0, nan)

Check the null values again in the dataset.

In [17]:
df1.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

Null values are now being detected. All 0s have been converted to null values. View the first 20 rows of the dataset to see some of the NaN values.

In [31]:
df1.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,156.056122,33.6,0.627,50,1
1,1,85.0,66.0,29.0,156.056122,26.6,0.351,31,0
2,8,183.0,64.0,26.0,156.056122,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.000000,43.1,2.288,33,1
5,5,116.0,74.0,33.5,156.056122,25.6,0.201,30,0
6,3,78.0,50.0,32.0,88.000000,31.0,0.248,26,1
8,2,197.0,70.0,45.0,543.000000,30.5,0.158,53,1
10,4,110.0,92.0,39.5,156.056122,37.6,0.191,30,0
11,10,168.0,74.0,34.0,156.056122,38.0,0.537,34,1
12,10,139.0,80.0,28.5,156.056122,27.1,1.441,57,0
13,1,189.0,60.0,23.0,846.000000,30.1,0.398,59,1
14,5,166.0,72.0,19.0,175.000000,25.8,0.587,51,1
16,0,118.0,84.0,47.0,230.000000,45.8,0.551,31,1
17,7,107.0,74.0,42.5,156.056122,29.6,0.254,31,1
18,1,103.0,30.0,38.0,83.000000,43.3,0.183,33,0
19,1,115.0,70.0,30.0,96.000000,34.6,0.529,32,1
20,3,126.0,88.0,41.0,235.000000,39.3,0.704,27,0
21,8,99.0,84.0,39.0,156.056122,35.4,0.388,50,0
22,7,196.0,90.0,37.0,156.056122,39.8,0.451,41,1

<h1>Deleting Missing Values</h1>

From the count of null values, it can be seen that columns 'Glucose', 'BloodPressure', and 'BMI' have very fe null values. So, deleting these observations would not be detrimental to the dataset.

<strong>Use .dropna() to drop these missing values:</strong>

In [20]:
df1 = df1.dropna(subset = ['Glucose', 'BloodPressure', 'BMI']) #subset specifies the columns where there are null values

#show new count of null values
df1.isnull().sum()

Pregnancies                   0
Glucose                       0
BloodPressure                 0
SkinThickness               192
Insulin                     332
BMI                           0
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

Null values from columns Glucose, BloodPressure, and BMI have been removed. Deletion of these rows have deleted some null values for SkinThickness and Insulin as well; thus, their reduced null values. (For Example row 4 has null values in Glucose and Insulin).

<h1>Replacing Missing Values</h1>

The column Insulin has 332 missing values, which should be replaced since it is a big number. Use mean of the column Insulin to replace the missing values.

<strong>Use .mean() to find the mean of a column:</strong>

In [22]:
mean_val = df1['Insulin'].mean()
print(mean_val)

156.05612244897958

<strong>Use .fillna() to replace all the NaN values in the column Insulin with the column's mean:</strong>

In [24]:
df1.fillna({'Insulin' : mean_val}, inplace = True)

#The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

#For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

Check the missing values of the dataset again.

In [26]:
df1.isnull().sum()

Pregnancies                   0
Glucose                       0
BloodPressure                 0
SkinThickness               192
Insulin                       0
BMI                           0
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

Now, try using interpolation to replace missing values. <br>

<strong>Use .interpolate() to replace missing values with interpolation:</strong>

In [29]:
df1['SkinThickness'] = df1['SkinThickness'].interpolate()

Check the missing values of the dataset again.

In [30]:
df1.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

<em>
    <strong>The dataset is now free of all the null values.</strong>
</em>